<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MAIN/CSS/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <nav>
                <div id="div-logo">
                    <img id="logo-img" src="/MAIN/IMG/logo.png" alt="logo">
                </div>
                <div id="header-titles">
                    <a>Vectors</a>
                    <a>Colletion</a>
                    <a>Comunnity</a>
                </div>
            </nav>
        </section>  
    </header>
    <main>
        <section id="message">
            <div class="welcome-message">
                <p id="welcome-text"> Welcome to Sunny NFT's</p>
                <input 
                    type="text" 
                    placeholder="Search..."
                >
            </div>
        </section>
        <section class="nfts-conteiner">
            <% nfts.map(nft => { %>
                <div class="nft-div">
                    <div>
                        <a class="edit-link" id=<%= nft.id %>><img src="/MAIN/IMG/icons-edit.png"></a>
                        <a class="action-link" id=<%= nft.id %>><img src="/MAIN/IMG/icons8-excluir-64.png"></a>
                    </div>
                    <img id="nft-image"src=<%= nft.image_url %> alt="">
                    <p><%= nft.name %></p>
                </div>
            <% }); %>
        </section>
        <a href="/register"><img id="addButton" src="/MAIN/IMG/icon-plus.png"></a>
    </main>
    <script src="/MAIN/JS/script.js"></script>
</body> 
</html>